@import url('https://fonts.googleapis.com/css2?family=Radio+Canada&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Asap:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond&display=swap');

*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-color: #4CB13B;
    display: flex;
}

.menu{
    background-color: #F41220;
    width: 25vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.menu .menu-title{
    font-family: 'Radio Canada', sans-serif;
    color: white;
    text-shadow: 0.1em 0.1em 0.2em black;
}

.menu .menu-time{
    text-shadow: 0.1em 0.1em 0.2em black;
    width: 280px;
    height: 140px;
    border-style: solid;
    border-width: 2px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.menu .menu-time .time-title{
    font-family: 'Asap', sans-serif;
    color: white;
    font-size: 28px;
}

.menu .menu-time .linha{
    width: 15vw;
    border-color: black;
    margin: 5px 0 5px 0;
}

.menu .menu-time .time{
    color: white;
    font-size: 30px ;
    font-family: 'EB Garamond', serif;
}

.menu .menu-time span{
    font-size: 30px ;
    font-family: 'EB Garamond', serif;
}

.menu .botoes{
    display: flex;
    width: 25vw;
    flex-direction: row;
    justify-content: space-around;
}

.menu .botoes .btn{
    cursor: pointer;
    width: 120px;
    height: 50px;
    background-color: #FECE00;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 0px 20px 1px black;
}

.menu .botoes .btn p{
    font-family: 'Asap', sans-serif; 
    font-size: 17px;
}

.container{
    width: 75vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.container .cards{
    width: 14vw;
    height: 43vh;
    background-color: #81ACD6;
    border-radius: 6px;
    box-shadow: 0px 0px 8px 0.1em black;
    cursor: pointer;
    margin: 0 20px 0 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container .cards img{
    margin-top: -10px;
    width: 12vw;
    height: 20vh;
}

.container .cards #pica-pau{
    height: 30vh;
}

.container .cards #zeca{
    height: 25vh;
}

.container .cards #pano{
    height: 35vh;
}

.container .cards #leoncio{
    width: 10vw;
    height: 30vh;
}